/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;

// Base document colors
$navbar-bg: #eff6ff; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: #4f46e5 ; // highlight color when hovering over navbar links
$body-bg: $light-green; // page background 
$body-color: $gray; // page text 
$footer-bg: #eff6ff; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color 

/*-- scss:rules --*/
/* Prevent RTL from reversing navbar layout */
.navbar .container-fluid {
  direction: ltr;
}
body {
  background-color: #eff6ff;
}
.title {
  font-size: 100px;
  margin-right: 1.25em; 
  background: linear-gradient(to left, #2563eb, #9333ea, #4f46e5);
  -webkit-background-clip: text;
  color: transparent;
}
.subtitle{
    font-size: 40px;
    margin-right: 3.2em;
}
.hero-text {
  font-size: 18px;
  line-height: 1.7;
  margin-right: 7em;
  color: #64748b;
}

p.subtitle {
    margin-top: 0em;
    margin-bottom: 0.5em;
    color: #64748b;
}
/* Font for English text */
.lang-en {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 20px;
  text-align: right;
  color: #334155;
}

div.quarto-about-jolla {
    margin-top: 1%;
}
.nav-footer p {
    font-size: 15px !important;
    min-height: 3.4em;
    color: #64748b;
    text-align: center;
}
/* تحسين للجوال */
@media (max-width: 430px) {
  .title-block-content {
    font-family: 'Amiri', sans-serif; // مهم لإعادة التأكيد
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;

    .title {
      font-size: 4rem; // أو أي حجم مناسب للجوال
      margin-right: 0;
    }

    .subtitle {
      font-size: 2rem; // مناسب للجوال
      text-align: center;
      margin-right: 0;
    }
    .hero-text {
      font-size: 18px;
      line-height: 1.7;
      text-align: center;
      color: #64748b;
      margin-right: 1em;
      margin-left: 1em;
}
  }
  .navbar-nav {
    flex-direction: column-reverse;
  }
}
