/*-- scss:defaults --*/

// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;

// Base document colors
$navbar-bg: #eff6ff; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: #4f46e5 ; // highlight color when hovering over navbar links
$body-bg: $light-green; // page background 
$body-color: $gray; // page text 
$footer-bg: #eff6ff; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color 

/*-- scss:rules --*/
/* Prevent RTL from reversing navbar layout */
.navbar .container-fluid {
  direction: ltr;
}
body {
  background-color: #eff6ff;
}
.title {
  font-size: 100px;
  text-align: right;
  margin-right: 1.25em; 
  background: linear-gradient(to left, #2563eb, #9333ea, #4f46e5);
  -webkit-background-clip: text;
  color: transparent;
}
.subtitle{
    font-size: 40px;
    text-align: right;
    margin-right: 3.2em;
}
p.subtitle {
    margin-top: 0em;
    margin-bottom: 0.5em;
    color: #64748b;
}
/* Font for English text */
.lang-en {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 20px;
  text-align: right;
  color: #334155;
}

.nav-footer p {
    font-size: 15px !important;
    min-height: 3.4em;
    color: #64748b;
    text-align: center;
}