/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;

// Base document colors
$navbar-bg: #eff6ff; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: #4f46e5 ; // highlight color when hovering over navbar links
$body-bg: $light-green; // page background 
$body-color: $gray; // page text 
$footer-bg: #eff6ff; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color 

/*-- scss:rules --*/
@font-face {
  font-family: "The Year of Handicrafts";
  src: url("fonts/TheYearOfHandicrafts-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "The Year of Handicrafts";
  src: url("fonts/TheYearOfHandicrafts-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Prevent RTL from reversing navbar layout */
.navbar .container-fluid {
  direction: ltr;
}
body {
  font-family: "The Year of Handicrafts";
  background-color: #eff6ff;
}
.title {
  font-size: 100px;
  margin-right: 1.25em; 
  background: linear-gradient(to left, #2563eb, #9333ea, #4f46e5);
  -webkit-background-clip: text;
  color: transparent;
}
.subtitle{
    font-size: 40px;
    margin-right: 3.2em;
}
.hero-text {
  font-size: 18px;
  line-height: 1.7;
  margin-right: 7em;
  color: #64748b;
}

p.subtitle {
    margin-top: 0em;
    margin-bottom: 0.5em;
    color: #64748b;
}
/* Font for English text */
.lang-en {
  font-family: "sans-serif", sans-serif;
}

p {
  font-size: 20px;
  text-align: right;
  color: #334155;
}

div.quarto-about-jolla {
    margin-top: 1%;
}
.nav-footer p {
    font-size: 15px !important;
    min-height: 3.4em;
    color: #64748b;
    text-align: center;
}

/* Font contact button */

.hero-cta {
  margin-top: 20px;
  text-align: right;
  
}

.contact-btn {
  display: inline-block;
   background: linear-gradient(
    to left,
    rgba(37, 99, 235, 0.85),  /* #2563eb */
    rgba(79, 70, 229, 0.80)   /* #4f46e5 */
  );
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  box-shadow: 0 10px 24px rgba(0,0,0,0.25);
  margin-right: 7em; 
}

#title-block-header {
    height: 800px;
}
.full-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.half-width {
  max-width: 100%;
  margin: 0 auto; /* توسيط */
}

.section-alt {
  background: rgba(136, 136, 136, 0.09);
  padding: 100px 0;
  margin-bottom: 7rem;
  border-radius: 24px;

}
.section-alt h2 {
  text-align: right;
  margin-right: 4.3em;
    
}
.section-alt p {
  color: #334155;
  font-size: 20px;
  margin-right: 6em;
  margin-left: 6em;
}
.intro-quote {
  position: relative;
  padding-left: 3.5rem;
  font-size: 1.1rem;
}

.intro-quote::before {
    content: "”";
    position: absolute;
    right: 0.7em;
    top: -4rem;
    font-size: 6rem;
    line-height: 1;
    color: rgba(0,0,0,.15);
    font-family: serif;
}

.intro-quote::after {
    content: "“";
    position: absolute;
    bottom: -5.5rem;
    left: 1.3em;
    line-height: 1;
    font-size: 6rem;
    color: rgba(0,0,0,.12);
    font-family: serif;
}
html {
  scroll-behavior: smooth;
}
.services-section h2 {
  font-size: 60px;     
  background: linear-gradient(to left, #2563eb, #4f46e5);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 0.2em;
  padding-bottom: 0px;
}

.services-section p {
 text-align: center;
 color: #64748b;
 margin-bottom: 2em;
}

.column {
  background: rgba(136, 136, 136, 0.09);
  border-radius: 16px;
  padding: 2rem;
  margin-left: 2rem;
}

/* تحسين للجوال */
@media (max-width: 430px) {
  .title-block-content {
    font-family: 'The Year of Handicrafts', sans-serif; // مهم لإعادة التأكيد
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;

    .title {
      font-size: 4rem; // أو أي حجم مناسب للجوال
      margin-right: 0;
    }

    .subtitle {
      font-size: 2rem; // مناسب للجوال
      text-align: center;
      margin-right: 0;
    }
    .hero-text {
      font-size: 18px;
      line-height: 1.7;
      text-align: center;
      color: #64748b;
      margin-right: 1em;
      margin-left: 1em;
}
  }
  .navbar-nav {
    flex-direction: column-reverse;
  }
  .contact-btn {
    margin-right: 0em;
  }
  .section-alt p {
    color: #334155;
    font-size: 18px;
    margin-right: 3.5em;
    margin-left: 0em; 
}
  .intro-quote::before {
    content: "”";
    position: absolute;
    right: .3em;
    top: -4rem;
    font-size: 6rem;
    line-height: 1;
    color: rgba(0,0,0,.15);
    font-family: serif;
  }
  .intro-quote::after {
    content: "“";
    position: absolute;
    bottom: -6.5rem;
    left: 0.4em;
    line-height: 1;
    font-size: 6rem;
    color: rgba(0,0,0,.12);
    font-family: serif;
  }
  .column[style*="width:30%"] {
    width: 80% !important;
    margin: 0 auto 2rem auto;
  }


}